$icon-check: "\e900";
$icon-close: "\e901";
$icon-filters: "\e902";
$icon-location: "\e903";
$icon-refresh: "\e904";
$icon-arrow-down: "\e905";
$icon-arrow-left: "\e906";
$icon-arrow-right: "\e907";
$icon-arrow-up: "\e908";
$icon-cart: "\e909";
$icon-engraving: "\e90a";
$icon-gift: "\e90b";
$icon-heart-fill: "\e90c";
$icon-heart-outline: "\e90d";
$icon-menu: "\e90e";
$icon-rings: "\e90f";
$icon-search: "\e910";
$icon-tel: "\e911";
$icon-telegram: "\e912";
$icon-user: "\e913";
$icon-vk: "\e914";
$icon-wallet: "\e915";
$icon-warranty: "\e916";

@font-face {
  font-family: "iconfont";
  src: url("src/assets/iconfont/iconfont.ttf?tey5rx") format("truetype"),
  url("src/assets/iconfont/iconfont.woff?tey5rx") format("woff"),
  url("src/assets/iconfont/iconfont.svg?tey5rx#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconfont {
  font-family: "iconfont", sans-serif !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1 !important;
  text-transform: none;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check {
  &:before {
    content: $icon-check;
  }
}

.icon-close {
  &:before {
    content: $icon-close;
  }
}

.icon-filters {
  &:before {
    content: $icon-filters;
  }
}

.icon-location {
  &:before {
    content: $icon-location;
  }
}

.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}

.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}

.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}

.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}

.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}

.icon-cart {
  &:before {
    content: $icon-cart;
  }
}

.icon-engraving {
  &:before {
    content: $icon-engraving;
  }
}

.icon-gift {
  &:before {
    content: $icon-gift;
  }
}

.icon-heart-fill {
  &:before {
    content: $icon-heart-fill;
  }
}

.icon-heart-outline {
  &:before {
    content: $icon-heart-outline;
  }
}

.icon-menu {
  &:before {
    content: $icon-menu;
  }
}

.icon-rings {
  &:before {
    content: $icon-rings;
  }
}

.icon-search {
  &:before {
    content: $icon-search;
  }
}

.icon-tel {
  &:before {
    content: $icon-tel;
  }
}

.icon-telegram {
  &:before {
    content: $icon-telegram;
  }
}

.icon-user {
  &:before {
    content: $icon-user;
  }
}

.icon-vk {
  &:before {
    content: $icon-vk;
  }
}

.icon-wallet {
  &:before {
    content: $icon-wallet;
  }
}

.icon-warranty {
  &:before {
    content: $icon-warranty;
  }
}

