#app .noUi {
  &-horizontal {
    width: calc(100% - 2px);
    height: 2px;
    margin: 0 0 16px;
    border: 0;
    border-radius: 3px;
    background: #eff1f3;
  }

  &-target {
    border: 0;
    box-shadow: none;
  }

  &-connects {
    border-radius: 0;
  }

  &-connect {
    border: 0;
    border-radius: 0;
    background: #111111;
  }

  &-handle {
    top: -7px;
    right: -10px;
    width: 16px;
    height: 16px;
    cursor: grab;
    border: 0;
    border-radius: 50%;
    background: #111111;

    &::before, &::after {
      display: none;
    }

    &-lower {
      right: -12px;
    }

    &-upper {
      right: -6px;
    }
  }

  &-touch-area {
    border-radius: 50%;
    background: #111111;
  }
}
