@use "src/styles/shared" as *;

.sectionProducts {
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: 65px;

  &Container {
    @include container;
  }

  &Header {
    margin-bottom: calc(20px - 12px);
    @include flex(center, space-between);
    @include mediaTabletL {
      margin-bottom: calc(33px - 12px);
    }
  }

  &Title {
    // font-family: "HeliosExtC", sans-serif;
    font-size: 20px;
    // font-weight: 400;
    line-height: calc(24 / 20);
    // text-align: center;
    text-transform: uppercase;
    color: #111111;
    @include mediaTabletL {
      font-size: 32px;
    }
  }

  &Quantity {
    font-family: "TTCommons", sans-serif;
    font-size: 10px;
    // font-weight: 400;
    line-height: 1;
    // text-align: left;
    color: #11111180;
    @include mediaTabletL {
      font-size: 14px;
    }
  }

  &Button {
    @include buttonMore;
  }

  &Slider {
    position: relative;
    z-index: 0;

    &Gradient {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: calc(60px - 16px);
      height: 100%;
      transition: opacity 0.33s;
      pointer-events: none;
      opacity: 0;
      background: linear-gradient(90deg, rgba(white, 0) 0%, white 65%);
      @include mediaLaptopL {
        width: calc(170px - 93px);
        background: linear-gradient(90deg, rgba(white, 0.14) 0%, white 57.28%);
      }

      &._active {
        opacity: 1;
      }
    }
  }

  .swiper {
    @include mediaTabletL {
      margin: -12px;
      padding: 12px;
    }

    &-button {
      @include swiperNavigationButtons;
    }

    &-pagination {
      position: static;
      margin: 32px auto 0;
      transition: background-color 0.33s;

      &-bullet {
        width: 24px;
        height: 2px;
        margin: 0 !important;
        opacity: 1 !important;
        background: #d9d9d9;

        &-active {
          background: #11111180;
        }
      }
    }
  }
}
