@use "src/styles/shared" as *;

.sectionProducts {
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: 65px;

  &Container {
    @include container;
  }

  &Header {
    margin-bottom: calc(20px - 12px);
    @include flex(center, space-between);
    @include mediaTabletL {
      margin-bottom: calc(33px - 12px);
    }
  }

  &Title {
    // font-family: "HeliosExtC", sans-serif;
    font-size: 20px;
    // font-weight: 400;
    line-height: calc(24 / 20);
    // text-align: center;
    text-transform: uppercase;
    color: #111111;
    @include mediaTabletL {
      font-size: 32px;
    }
  }

  &Quantity {
    font-family: "TTCommons", sans-serif;
    font-size: 10px;
    // font-weight: 400;
    line-height: 1;
    // text-align: left;
    color: #11111180;
    @include mediaTabletL {
      font-size: 14px;
    }
  }

  &Button {
    @include buttonMore;
  }

  &Slider {
    position: relative;
    z-index: 0;
    @include mediaTabletM {
      padding-left: 32px;
    }
    //@include mediaTabletL {
    //margin: -12px;
    //padding: 12px 12px 12px 40px;
    //}

    &Gradient {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: calc(60px - 16px);
      height: 100%;
      transition: opacity 0.33s, transform 0.33s;
      transform: none;
      pointer-events: none;
      opacity: 1;
      background: linear-gradient(90deg, rgba(white, 0) 0%, white 65%);
      @include mediaTabletM {
        width: calc(170px - 40px);
        background: linear-gradient(90deg, rgba(white, 0.1) 0%, white 100%);
      }

      &._disabled {
        transform: scaleY(0);
        opacity: 0;
      }
    }
  }

  .swiper {
    &-button {
      @include swiperNavigationButtons;

      &-prev, {
        @include mediaTabletM {
          left: -12px;
        }
      }

      &-next {
        @include mediaTabletM {
          right: -16px;
        }
      }
    }
  }
}
