@use "src/styles/shared" as *;

.sectionProducts {
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: 65px;

  &Container {
    @include container;
  }

  &Header {
    margin-bottom: calc(20px - 12px);
    @include flex(center, space-between);
    @include mediaTabletL {
      margin-bottom: calc(33px - 12px);
    }
  }

  &Title {
    // font-family: "HeliosExtC", sans-serif;
    font-size: 20px;
    // font-weight: 400;
    line-height: calc(24 / 20);
    // text-align: center;
    text-transform: uppercase;
    color: #111111;
    @include mediaTabletL {
      font-size: 32px;
    }
  }

  &Quantity {
    font-family: "TTCommons", sans-serif;
    font-size: 10px;
    // font-weight: 400;
    line-height: 1;
    // text-align: left;
    color: rgba(#111111, 0.5);
    @include mediaTabletL {
      font-size: 14px;
    }
  }

  &Button {
    @include buttonMore;
  }

  .swiper {
    @include mediaTabletL {
      margin: -12px;
      padding: 12px;
    }

    &-button {
      @include swiperNavigationButtons;
    }

    &-pagination {
      position: static;
      margin: 32px auto 0;
      transition: background-color 0.33s;

      &-bullet {
        width: 24px;
        height: 2px;
        margin: 0 !important;
        opacity: 1 !important;
        background: #d9d9d9;

        &-active {
          background: rgba(#111111, 0.5);
        }
      }
    }
  }
}
