@use "src/styles/shared" as *;


.catalog {
  font-size: 14px;
  line-height: calc(20 / 14);
  color: #111111;

  &Container {
    @include container;
  }

  &Layout {
    @include resetFlex;
    @include mediaTabletL {
      display: grid;
      grid-template-columns: 240px 1fr;
      column-gap: 32px;
    }
    @include mediaTabletL {
      column-gap: 40px;
    }
  }

  &Main {
    @include resetFlex;
    @include flex($d: column);
    row-gap: 16px;
    @include mediaTabletM {
      row-gap: 20px;
    }
  }

  &Products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 12px;
    @include mediaTabletM {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mediaLaptopS {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

[data-catalog-prices] {
  margin-bottom: 1em;
}

