@use "src/styles/shared" as *;

.catalogFilterBool {
  @extend .catalogFilter !optional;
  @include flex(center, space-between);

  & {
    padding: 14px;
    border-bottom: 0;
    @include mediaTabletL {
      padding: 14px 0;
    }
  }

  &Title {
    font-weight: 500;
    line-height: 1;
  }

  &Input {
    $size: 20px;

    position: relative;
    z-index: 0;
    width: $size * 2.2;
    height: $size;
    transition: background-color 0.25s;
    border: 0;
    border-radius: $size;
    background: #e6eaed;
    appearance: none;

    &::before {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: $size * 0.2;
      width: $size * 0.8;
      height: $size * 0.8;
      content: " ";
      transition: left 0.25s;
      transform: translateY(-50%);
      opacity: 1;
      border-radius: 50%;
      background: white;
    }

    &:checked {
      background: #56323f;

      &::before {
        left: calc(100% - $size * 0.8 - $size * 0.2);
        transform: translate(0, -50%) scale(1);
      }
    }
  }
}

.catalogFilter {
  $this: &;
  font-family: "HeliosExt", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  cursor: pointer;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #111111;
  //border-bottom: 1px solid rgba(#111111, 0.1);
  border-bottom: 1px solid #eff1f3;

  &Summary {
    @include flex(flex-start, flex-start, column);

    & {
      font-weight: 500;
      padding: 14px;
      transition: background $trM;
      @include mediaTabletL {
        padding: 14px 0;
      }
    }

    &Content {
      @include flex(center, space-between);
      width: 100%;
    }
  }

  &Selected {
    @include lineClamp(1);
    font-weight: 500;
    line-height: 1;
    width: 100%;
    color: $colorPrimary;
  }

  &Button {
    @include buttonArrowSmall;

    & {
      #{$this}.is-opening &,
      #{$this}.open & {
        transform: rotate(180deg);
      }

      #{$this}.is-closing & {
        transform: rotate(0);
      }
    }
  }

  &Title {
    display: inline-block;
    margin-right: auto;
  }

  &Reset {
    @include flex(center);
    font-size: 10px;
    margin-left: auto;
    color: $colorBlack;
    column-gap: 2px;
  }

  &Body {
    @include scrollbar;
    line-height: 1.4;
    position: relative;
    display: none;
    overflow-y: auto;
    flex-direction: column;
    max-height: 320px;
    padding: 8px 16px 16px;
    column-gap: 8px;
    row-gap: 8px;
    @include mediaLaptopS {
      max-height: 360px;
      padding: 8px 16px 16px 8px;
      column-gap: 12px;
      row-gap: 12px;
    }

    #{$this}.is-opening &,
    #{$this}.open & {
      display: flex;
    }

    &._grid {
      flex-direction: row;
      flex-wrap: wrap;

      & > * {
        width: calc(50% - 8px * 0.5);

        &.catalogFilterSearch {
          width: 100%;
        }

        @include mediaTabletL {
          width: calc(50% - 12px * 0.5);
        }
      }

      &.open, &.is-opening, &.is-closing {
        // display: grid;
        //padding-top: 40px + 8px + 8px;
      }
    }

    &Inputs {
      @include flex(center);
      margin-bottom: 8px;
      text-transform: lowercase;
      column-gap: 8px;

      label {
        display: contents;
      }
    }
  }

  &Search {
    position: sticky;
    z-index: 2;
    top: -8px;
    height: 32px;
    transition: top $trM;
    background: white;
    @include mediaDesktop {
      height: 40px;
    }

    &Icon {
      @include resetFlex;
      font-size: 14px;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 8px;
      width: 14px;
      height: 14px;
      transform: translateY(-50%);
    }

    &Input {
      @include inputMain;
      width: 100%;
      height: 100% !important;
      padding-left: 14px + 8px + 8px !important;
    }
  }

  &Label {
    //@include textXs;
    @include flex(center);
    column-gap: 4px;
    @include mediaDesktop {
      column-gap: 8px;
    }
  }

  &Row {
    display: grid;
    margin-bottom: 16px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }

  &Input {
    $size: 16px;
    display: inline-block;
    margin: 0;

    &._range {
      @include inputMain;

      & {
        flex: 1 0 auto;
        width: 33%;
        height: 32px;
      }
    }

    &[type=radio] {
      width: $size;
      height: $size;
      border-color: $colorGrey;

      &::before {
        background: $colorGrey;
      }
    }

    &[type=checkbox] {
      position: relative;
      z-index: 0;
      overflow: hidden;
      width: $size;
      height: $size;
      margin: 0;
      border: 1px solid #111111;
      border-radius: 0;
      background: white;
      appearance: none;

      &::before {
        @include flex(center, center);

        & {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "\2714";
          transition: opacity $trM;
          transform: none;
          opacity: 0;
          color: white;
          border: 0;
          border-radius: 0;
          background: #111111;
        }
      }

      &:checked {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &Title {
  }
}
