@use "src/styles/shared" as *;

.catalogAside {
  @include resetFlex;
  @include scrollbar;
  @include flex($d: column);

  & {
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 320px;
    height: 100%;
    transition: transform $trM;
    transform: translate(-100%, 0);
    pointer-events: none;
    background: white;
    @include mediaMobileL {
      width: 360px;
    }
    @include mediaTabletL {
      position: static;
      //z-index: 1;
      //top: calc(var(--headerHeight) + 20px);
      //left: 0;
      display: flex;
      overflow: unset;
      flex-direction: column;
      width: auto;
      height: fit-content;
      transform: none;
      pointer-events: auto;
    }
  }

  &._active {
    transform: none;
    pointer-events: auto;
  }

  &Overlay {
    @include overlay;
    //@include mediaTabletL {
    //  display: none;
    //  pointer-events: none;
    //  opacity: 0;
    //}
  }
}
