@use "src/styles/shared" as *;

.catalogNav {
  display: flex;
  flex-direction: column;
  @include resetFlex;
  @include mediaTabletL {
    flex-direction: row;
  }

  &Top {
    display: grid;
    margin-bottom: 12px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 12px;
    @include mediaMobileL {
      column-gap: 16px;
    }
    @include mediaTabletM {
      column-gap: 20px;
    }
    @include mediaTabletL {
      display: block;
      width: fit-content;
      margin: 0;
    }
  }

  &Filters {
    @include buttonCatalogNav;
    @include mediaTabletL {
      display: none;
    }

    &Icon {
      font-size: 24px;
      color: rgba($colorBlack, 0.75);
      @include resetFlex;
    }

    &Title {

    }

    &Quantity {
      font-family: "HeliosExt", sans-serif;
      font-size: 10px;
      padding: 4px;
      border-radius: 2px;
      background: white;
    }
  }

  &Tabs {
    display: flex;
    overflow-y: auto;
    order: -1;
    margin-bottom: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    column-gap: 8px;
    row-gap: 8px;
    @include mediaTabletL {
      position: relative;
      z-index: 3;
      overflow-y: hidden;
      flex-wrap: wrap;
      order: -1;
      margin-right: auto;
      padding: 0 0 0 16px;
    }

    &._active {
      overflow-y: unset;
      flex-wrap: wrap;
      padding: 0;
      @include mediaTabletL {
        padding: 0 0 0 16px;
      }
    }

    &Inner {
      display: contents;
    }

    &Hidden {
      display: none;
      flex-wrap: wrap;
      background: white;
      column-gap: 8px;
      row-gap: 8px;
      @include mediaTabletL {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 8px 16px 16px;
        border: 1px solid #eff1f3;
        border-top: 0;
        border-radius: 0 0 12px 12px;
      }

      &._active {
        display: flex;
      }
    }
  }

  &Tab {
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    padding: 4px 8px 2px;
    text-transform: uppercase;
    color: #11111180;
    border: 1px solid #11111180;
    border-radius: 12px;
    column-gap: 4px;
    @include resetFlex;
    @include flex(center, center);
    @include mediaMobileM {
      font-size: 14px;
      padding: 6px 12px 3px;
    }
    @include responsiveHover {
      color: white;
      background: #11111180;
    }

    &More {
      order: 1;
      min-width: 54px;
      //padding-bottom: 4px;
      //@include mediaMobileM {
      //  padding-bottom: 6px;
      //}

      &Text {
        display: inline-block;
      }

      &Icon {
        display: none;
      }

      &._active {
        .catalogNavTabMoreText {
          display: none;
        }

        .catalogNavTabMoreIcon {
          display: inline-block;
        }
      }
    }

    //&._hidden {
    //  display: none;
    //}
  }

  &Reset {
    @include buttonPale;

    & {
      column-gap: 8px;
    }
  }
}
