@use "src/styles/shared" as *;

.catalogNav {
  @include resetFlex;
  @include mediaTabletL {
    @include flex;
  }

  &Top {
    display: grid;
    margin-bottom: 12px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
    row-gap: 12px;
    @include mediaMobileL {
      column-gap: 16px;
    }
    @include mediaTabletM {
      column-gap: 20px;
    }
    @include mediaTabletL {
      display: block;
      width: fit-content;
      margin: 0;
    }
  }

  &Filters {
    @include buttonCatalogNav;
    @include mediaTabletL {
      display: none;
    }

    &Icon {
      font-size: 24px;
      color: rgba($colorBlack, 0.75);
      @include resetFlex;
    }

    &Title {

    }

    &Quantity {
      font-family: "HeliosExt", sans-serif;
      font-size: 10px;
      padding: 4px;
      border-radius: 2px;
      background: white;
    }
  }

  &Choices {
    @include flex($w: wrap);
    column-gap: 8px;
    row-gap: 8px;
    @include mediaTabletL {
      order: -1;
      margin-right: auto;
    }
  }

  &Choice {
    @include resetFlex;
    @include flex(baseline);
    font-size: 12px;
    line-height: 1;
    padding: 4px 6px;
    color: #111111;
    border-radius: 12px;
    background: rgba(#a39d94, 0.2);
    column-gap: 4px;
    @include mediaTabletL {
      font-size: 13px;
    }
    @include mediaLaptopL {
      font-size: 14px;
      padding: 4px 8px;
    }
    @include responsiveHover {
      background: rgba(#a39d94, 0.4);
    }

    .iconfont {
      @include flex(center, center);
      font-size: 8px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: white;
    }
  }

  &Reset {
    @include buttonPale;

    & {
      column-gap: 8px;
    }
  }
}
