@use "src/styles/shared" as *;

.breadcrumbs {
  margin: 20px 0;

  &Container {
    @include container;
  }

  &List {
    column-gap: 4px;
    row-gap: 4px;
    @include flex($w: wrap);
  }

  &Item {
    position: relative;
    z-index: 0;
    padding-right: 4px;

    &:last-child {
      &:after {
        display: none;
      }
    }

    &::after {
      position: absolute;
      z-index: 0;
      top: calc(50% - 1px);
      right: 0;
      display: inline-block;
      width: 1px;
      height: 50%;
      content: "";
      transform: translate(0, -50%);
      background: rgba(#111111, .5);
    }
  }

  &Link {
    font-size: 13px;
    font-weight: 400;
    //letter-spacing: 0.03em;
    color: rgba(#111111, 0.5);
    @include mediaTabletL {
      font-size: 14px;
    }
    @include responsiveHover {
      color: #111111;
    }

    &._active {
      font-weight: 400;
      color: #111111;
    }
  }
}
