@use "src/styles/shared" as *;

.categoryCard {
  $this: &;
  transition: background-color 0.33s;
  @include responsiveHover {
    background: #fafafa;
  }

  &Picture {
    display: contents;
  }

  &Img {
    @include resetFlex;

    & {
      width: 100%;
      aspect-ratio: 1 / 1;
    }
  }

  &Title {
    font-family: "TTCommons", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(16 / 14);
    margin: 12px auto 8px 0;
    text-align: left;
    text-transform: uppercase;
    color: #111111;
  }
}
