
.breadcrumbs {
  margin: 20px 0;
}

.breadcrumbsContainer {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 14px;
}

@media screen and (min-width: 360px) {
  .breadcrumbsContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .breadcrumbsContainer {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .breadcrumbsContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .breadcrumbsContainer {
    padding-left: 0;
    padding-right: 0;
    max-width: 1280px;
  }
}

@media screen and (min-width: 1440px) {
  .breadcrumbsContainer {
    max-width: 1320px;
  }
}

.breadcrumbsList {
  column-gap: 4px;
  row-gap: 4px;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbsItem {
  position: relative;
  z-index: 0;
  padding-right: 4px;
}

.breadcrumbsItem:last-child:after {
  display: none;
}

.breadcrumbsItem::after {
  position: absolute;
  z-index: 0;
  top: calc(50% - 1px);
  right: 0;
  display: inline-block;
  width: 1px;
  height: 50%;
  content: "";
  transform: translate(0, -50%);
  background: rgba(17, 17, 17, .5);
}

.breadcrumbsLink {
  font-size: 13px;
  font-weight: 400;
  color: rgba(17, 17, 17, .5);
}

@media screen and (min-width: 1024px) {
  .breadcrumbsLink {
    font-size: 14px;
  }
}

@media (any-hover: hover) {
  .breadcrumbsLink:hover {
    color: #111;
  }
}

@media (hover: none) {
  .breadcrumbsLink:active {
    color: #111;
  }
}

.breadcrumbsLink._active {
  font-weight: 400;
  color: #111;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination {
  margin: 20px auto;
  column-gap: 12px;
}

@media screen and (min-width: 1024px) {
  .pagination {
    column-gap: 16px;
  }
}

.paginationLink {
  font-size: 14px;
  color: rgba(17, 17, 17, .5);
}

@media screen and (min-width: 1024px) {
  .paginationLink {
    font-size: 18px;
  }
}

@media (any-hover: hover) {
  .paginationLink:hover {
    color: #111;
  }
}

@media (hover: none) {
  .paginationLink:active {
    color: #111;
  }
}

.paginationLink._current {
  color: #111;
}

.catalogHero {
  margin: 20px 0;
}

.catalogHeroContainer {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 14px;
}

@media screen and (min-width: 360px) {
  .catalogHeroContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .catalogHeroContainer {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .catalogHeroContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .catalogHeroContainer {
    padding-left: 0;
    padding-right: 0;
    max-width: 1280px;
  }
}

@media screen and (min-width: 1440px) {
  .catalogHeroContainer {
    max-width: 1320px;
  }
}

.catalogHeroTitle {
  font-family: "HeliosExt", sans-serif;
  font-size: 20px;
  margin-bottom: .5em;
  text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
  .catalogHeroTitle {
    font-size: 40px;
  }
}

.catalogHeroQuantity {
  font-family: "HeliosExt", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: rgba(17, 17, 17, .5);
}

.catalog {
  font-size: 14px;
  line-height: 1.4285714286;
  color: #111;
}

.catalogContainer {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 14px;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

@media screen and (min-width: 360px) {
  .catalogContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 768px) {
  .catalogContainer {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .catalogContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 1366px) {
  .catalogContainer {
    padding-left: 0;
    padding-right: 0;
    max-width: 1280px;
  }
}

@media screen and (min-width: 1440px) {
  .catalogContainer {
    max-width: 1320px;
  }
}

.catalogLayout {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

@media screen and (min-width: 1024px) {
  .catalogLayout {
    display: grid;
    grid-template-columns: 240px 1fr;
    column-gap: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .catalogLayout {
    column-gap: 40px;
  }
}

.catalogMain {
  row-gap: 24px;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .catalogMain {
    row-gap: 32px;
  }
}

.catalogProducts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 12px;
}

@media screen and (min-width: 768px) {
  .catalogProducts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1180px) {
  .catalogProducts {
    grid-template-columns: repeat(4, 1fr);
  }
}

[data-catalog-prices] {
  margin-bottom: 1em;
}

.catalogFilters {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.catalogFiltersHeader,
.catalogFiltersButtons,
.catalogFiltersFeedback {
  margin-bottom: 16px;
  padding: 16px;
  border-bottom: 1px solid #eff1f3;
}

@media screen and (min-width: 1024px) {
  .catalogFiltersHeader,
  .catalogFiltersButtons,
  .catalogFiltersFeedback {
    margin: 0;
    padding: 0;
    border-bottom: 0;
  }
}

.catalogFiltersHeader {
  font-family: "HeliosExt", sans-serif;
  font-size: 11px;
  font-weight: 300;
  margin: 0;
  letter-spacing: .03em;
  text-transform: uppercase;
  border: 0;
  row-gap: 8px;
  display: flex;
  flex-direction: column;
}

.catalogFiltersHeaderRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .catalogFiltersHeaderRow {
    display: none;
  }
}

.catalogFiltersChoices {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
}

@media screen and (min-width: 1024px) {
  .catalogFiltersChoices {
    order: -1;
    margin-right: auto;
  }
}

.catalogFiltersChoice {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: baseline;
  font-size: 12px;
  line-height: 1;
  padding: 4px 6px;
  color: #111;
  border-radius: 12px;
  background: rgba(163, 157, 148, .2);
  column-gap: 4px;
}

@media screen and (min-width: 1440px) {
  .catalogFiltersChoice {
    padding: 4px 8px;
  }
}

@media (any-hover: hover) {
  .catalogFiltersChoice:hover {
    background: rgba(163, 157, 148, .4);
  }
}

@media (hover: none) {
  .catalogFiltersChoice:active {
    background: rgba(163, 157, 148, .4);
  }
}

.catalogFiltersChoice .iconfont {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
}

.catalogFiltersClose {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalogFiltersClose {
  font-size: 8px;
  line-height: 1;
  width: 12px;
  height: 12px;
  transition: transform .33s,
  background-color .33s,
  color .33s;
  transform-origin: center;
}

.catalogFiltersClose {
  width: 24px;
  height: 24px;
}

.catalogFiltersButtons {
  position: sticky;
  z-index: 10;
  bottom: 0;
  display: grid;
  margin: 0;
  padding-bottom: 16px;
  border-top: 1px solid #eff1f3;
  background: #fff;
  grid-template-columns: 1fr;
  row-gap: 8px;
}

@media screen and (min-width: 1024px) {
  .catalogFiltersButtons {
    position: static;
    border: 0;
    column-gap: 16px;
  }
}

.catalogFiltersSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  flex: 0 0 auto;
  text-align: center;
  width: 100%;
  transition: opacity .33s,
  background-color .33s,
  color .33s,
  border-color .33s,
  transform .33s;
  text-transform: uppercase;
  font-family: "HeliosExt", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

.catalogFiltersSubmit {
  border: 1px solid #111;
  background: #111;
  color: #fff;
  width: 240px;
  height: 40px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

@media (any-hover: hover) {
  .catalogFiltersSubmit:hover {
    background: #fff;
    color: #111;
  }
}

@media (hover: none) {
  .catalogFiltersSubmit:active {
    background: #fff;
    color: #111;
  }
}

.catalogFiltersSubmit {
  width: 100%;
}

.catalogFiltersReset {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  flex: 0 0 auto;
  text-align: center;
  width: 100%;
  transition: opacity .33s,
  background-color .33s,
  color .33s,
  border-color .33s,
  transform .33s;
  text-transform: uppercase;
  font-family: "HeliosExt", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

.catalogFiltersReset {
  border: 1px solid #a39d94;
  color: #a39d94;
  background: #fff;
  width: 240px;
  height: 40px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

@media (any-hover: hover) {
  .catalogFiltersReset:hover {
    background: #a39d94;
    color: #fff;
  }
}

@media (hover: none) {
  .catalogFiltersReset:active {
    background: #a39d94;
    color: #fff;
  }
}

.catalogFiltersReset {
  width: 100%;
  column-gap: 8px;
}

.catalogFiltersBody {
  flex: 1 0 auto;
  margin-bottom: 40px;
}

.catalogFiltersFooter {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1;
  bottom: 0;
  margin-top: auto;
  padding: 28px 14px;
  background: #fff;
}

.catalogFiltersTitle {
  font-size: 17px;
  margin-bottom: 1.25em;
  letter-spacing: .03em;
  color: #80756e;
}

.catalogFiltersLink {
  font-size: 15px;
  display: inline-block;
  width: fit-content;
  margin-bottom: .75em;
  letter-spacing: .03em;
}

.catalogFiltersLink:hover,
.catalogFiltersLink._active {
  color: #111;
}

.catalogFiltersTooltip {
  position: fixed;
  z-index: 150;
  top: 50%;
  left: 200px;
  display: none;
  transition: top .333s,
  left .333s,
  opacity .333s;
  pointer-events: none;
  opacity: 0;
  border-radius: 4px;
}

@media screen and (min-width: 1024px) {
  .catalogFiltersTooltip._active {
    display: block;
    pointer-events: auto;
    opacity: 1;
  }
}

.catalogFiltersTooltip::before {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  width: 12px;
  height: 12px;
  content: " ";
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 2px;
  background: #111;
}

.catalogFiltersTooltipButton {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  flex: 0 0 auto;
  text-align: center;
  width: 100%;
  transition: opacity .33s,
  background-color .33s,
  color .33s,
  border-color .33s,
  transform .33s;
  text-transform: uppercase;
  font-family: "HeliosExt", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

.catalogFiltersTooltipButton {
  border: 1px solid #111;
  background: #111;
  color: #fff;
  width: 240px;
  height: 40px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

@media (any-hover: hover) {
  .catalogFiltersTooltipButton:hover {
    background: #fff;
    color: #111;
  }
}

@media (hover: none) {
  .catalogFiltersTooltipButton:active {
    background: #fff;
    color: #111;
  }
}

.catalogFilterBool {
  font-family: "HeliosExt", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  cursor: pointer;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #111;
  border-bottom: 1px solid #eff1f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalogFilterBool {
  padding: 14px;
  border-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .catalogFilterBool {
    padding: 14px 0;
  }
}

.catalogFilterBoolTitle {
  font-weight: 500;
  line-height: 1;
}

.catalogFilterBoolInput {
  position: relative;
  z-index: 0;
  width: 44px;
  height: 20px;
  transition: background-color .25s;
  border: 0;
  border-radius: 20px;
  background: #e6eaed;
  appearance: none;
}

.catalogFilterBoolInput::before {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 4px;
  width: 16px;
  height: 16px;
  content: " ";
  transition: left .25s;
  transform: translateY(-50%);
  opacity: 1;
  border-radius: 50%;
  background: #fff;
}

.catalogFilterBoolInput:checked {
  background: #56323f;
}

.catalogFilterBoolInput:checked::before {
  left: calc(100% - 16px - 4px);
  transform: translate(0, -50%) scale(1);
}

.catalogFilter {
  font-family: "HeliosExt", sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  cursor: pointer;
  letter-spacing: .03em;
  text-transform: uppercase;
  color: #111;
  border-bottom: 1px solid #eff1f3;
}

.catalogFilterSummary {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.catalogFilterSummary {
  font-weight: 500;
  line-height: 1.25;
  padding: 14px;
  transition: background .333s;
}

@media screen and (min-width: 1024px) {
  .catalogFilterSummary {
    padding: 14px 0;
  }
}

.catalogFilterSummaryContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.catalogFilterSelected {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  line-height: 1;
  width: 100%;
  color: #111;
}

.catalogFilterButton {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalogFilterButton {
  font-size: 8px;
  line-height: 1;
  width: 12px;
  height: 12px;
  transition: transform .33s,
  background-color .33s,
  color .33s;
  transform-origin: center;
}

.catalogFilter.is-opening .catalogFilterButton,
.catalogFilter.open .catalogFilterButton {
  transform: rotate(180deg);
}

.catalogFilter.is-closing .catalogFilterButton {
  transform: rotate(0);
}

.catalogFilterTitle {
  display: inline-block;
  margin-right: auto;
}

.catalogFilterReset {
  display: flex;
  align-items: center;
  font-size: 10px;
  margin-left: auto;
  color: #111;
  column-gap: 2px;
}

.catalogFilterBody {
  line-height: 1.4;
  position: relative;
  display: none;
  overflow-y: auto;
  flex-direction: column;
  max-height: 320px;
  padding: 8px 16px 16px;
  column-gap: 8px;
  row-gap: 8px;
}

@media (any-hover: hover) {
  .catalogFilterBody::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  .catalogFilterBody::-webkit-scrollbar-track {
    background: #fff;
  }

  .catalogFilterBody::-webkit-scrollbar-thumb {
    background: rgba(17, 17, 17, .5019607843);
    border: 0 solid #fff;
  }
}

@media screen and (min-width: 1180px) {
  .catalogFilterBody {
    max-height: 360px;
    padding: 8px 16px 16px 8px;
    column-gap: 12px;
    row-gap: 12px;
  }
}

.catalogFilter.is-opening .catalogFilterBody,
.catalogFilter.open .catalogFilterBody {
  display: flex;
}

.catalogFilter.is-opening .catalogFilterBody._shape,
.catalogFilter.open .catalogFilterBody._shape {
  display: grid;
}

.catalogFilterBody._grid {
  flex-direction: row;
  flex-wrap: wrap;
}

.catalogFilterBody._grid > * {
  width: calc(50% - 4px);
}

.catalogFilterBody._grid > *.catalogFilterSearch {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .catalogFilterBody._grid > * {
    width: calc(50% - 6px);
  }
}

.catalogFilterBody._shape {
  grid-template-columns: repeat(5, 1fr);
}

.catalogFilterBodyInputs {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  text-transform: lowercase;
  column-gap: 8px;
}

.catalogFilterBodyInputs label {
  display: contents;
}

.catalogFilterNote {
  font-family: "TTCommons", sans-serif;
  font-size: 12px;
  text-transform: none;
  color: rgba(17, 17, 17, .5019607843);
}

.catalogFilterSearch {
  position: sticky;
  z-index: 2;
  top: -8px;
  height: 32px;
  transition: top .333s;
  background: #fff;
}

@media screen and (min-width: 1920px) {
  .catalogFilterSearch {
    height: 40px;
  }
}

.catalogFilterSearchIcon {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  font-size: 14px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 8px;
  width: 14px;
  height: 14px;
  transform: translateY(-50%);
}

.catalogFilterSearchInput {
  display: inline-block;
  padding: 10px;
  color: #111;
  border: 1px solid rgba(0, 0, 0, .2);
  font-family: "TTCommons", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  transition: border-color .33s;
  width: 100%;
  height: 100% !important;
  padding-left: 30px !important;
}

.catalogFilterSearchInput::placeholder {
  color: rgba(17, 17, 17, .5019607843);
}

.catalogFilterSearchInput.error,
.catalogFilterSearchInput._error {
  border-color: #ff0024;
}

.catalogFilterLabel {
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  column-gap: 4px;
}

@media screen and (min-width: 1920px) {
  .catalogFilterLabel {
    column-gap: 8px;
  }
}

.catalogFilterRow {
  display: grid;
  margin-bottom: 16px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
}

.catalogFilterInput {
  display: inline-block;
  margin: 0;
}

.catalogFilterInput._range {
  display: inline-block;
  padding: 10px;
  color: #111;
  border: 1px solid rgba(0, 0, 0, .2);
  font-family: "TTCommons", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  transition: border-color .33s;
  height: 40px;
}

.catalogFilterInput._range::placeholder {
  color: rgba(17, 17, 17, .5019607843);
}

.catalogFilterInput._range.error,
.catalogFilterInput._range._error {
  border-color: #ff0024;
}

.catalogFilterInput._range {
  flex: 1 0 auto;
  width: 33%;
  height: 32px;
}

.catalogFilterInput[type=radio] {
  appearance: none;
  overflow: hidden;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  transition: background-color .33s;
  position: relative;
  z-index: 0;
  width: 18px;
  height: 18px;
  margin: 0;
  border: 1px solid #111;
  border-radius: 0;
  background: #fff;
}

.catalogFilterInput[type=radio]:checked {
  background: #111;
}

.catalogFilterInput[type=radio]:checked::before {
  transform: scale(1);
  opacity: 1;
}

.catalogFilterInput[type=radio]::before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "iconfont", emoji !important;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "\e900";
  transition: opacity .33s, transform .33s;
  transform: none;
  opacity: 0;
  color: #fff;
  border: 0;
  border-radius: 0;
  background: #111;
}

.catalogFilterInput[type=radio] {
  background: none;
  border-radius: 50%;
}

.catalogFilterInput[type=radio]:checked {
  background: none;
}

.catalogFilterInput[type=radio]:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.catalogFilterInput[type=radio]:before {
  content: " ";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 75%;
  height: 75%;
  border-radius: 50%;
}

.catalogFilterInput[type=checkbox] {
  appearance: none;
  overflow: hidden;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  transition: background-color .33s;
  position: relative;
  z-index: 0;
  width: 18px;
  height: 18px;
  margin: 0;
  border: 1px solid #111;
  border-radius: 0;
  background: #fff;
}

.catalogFilterInput[type=checkbox]:checked {
  background: #111;
}

.catalogFilterInput[type=checkbox]:checked::before {
  transform: scale(1);
  opacity: 1;
}

.catalogFilterInput[type=checkbox]::before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "iconfont", emoji !important;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "\e900";
  transition: opacity .33s, transform .33s;
  transform: none;
  opacity: 0;
  color: #fff;
  border: 0;
  border-radius: 0;
  background: #111;
}

.catalogFilterInput._shape {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
}

.catalogFilterInput:checked ~ .catalogFilterIcon {
  opacity: 1;
}

.catalogFilterColor {
  flex: 0 0 auto;
  width: 18px;
  min-width: 0;
  height: 18px;
  min-height: 0;
  border: 1px solid rgba(17, 17, 17, .5019607843);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-position: center;
  object-fit: contain;
}

.catalogFilterIcon {
  transition: opacity .33s;
  opacity: .5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  object-position: center;
  object-fit: contain;
}

.catalogAside {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

@media (any-hover: hover) {
  .catalogAside::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  .catalogAside::-webkit-scrollbar-track {
    background: #fff;
  }

  .catalogAside::-webkit-scrollbar-thumb {
    background: rgba(17, 17, 17, .5019607843);
    border: 0 solid #fff;
  }
}

.catalogAside {
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 320px;
  height: 100%;
  transition: transform .333s;
  transform: translate(-100%, 0);
  pointer-events: none;
  background: #fff;
}

@media screen and (min-width: 400px) {
  .catalogAside {
    width: 360px;
  }
}

@media screen and (min-width: 1024px) {
  .catalogAside {
    position: static;
    z-index: 1;
    display: flex;
    overflow: unset;
    flex-direction: column;
    width: auto;
    height: fit-content;
    transform: none;
    pointer-events: auto;
  }
}

.catalogAside._active {
  transform: none;
  pointer-events: auto;
}

.catalogAsideOverlay {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .33s;
  pointer-events: none;
  opacity: 0;
  background: rgba(17, 17, 17, .5019607843);
}

.catalogAsideOverlay._active {
  pointer-events: auto;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .catalogAsideOverlay {
    display: none;
    pointer-events: none;
    opacity: 0;
  }
}

.catalogNav {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

@media screen and (min-width: 1024px) {
  .catalogNav {
    flex-direction: row;
  }
}

.catalogNavTop {
  display: grid;
  margin-bottom: 12px;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 12px;
}

@media screen and (min-width: 400px) {
  .catalogNavTop {
    column-gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .catalogNavTop {
    column-gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .catalogNavTop {
    display: block;
    width: fit-content;
    margin: 0;
  }
}

.catalogNavFilters {
  padding: 4px 4px;
  border-radius: 4px;
  background: #f5f5f5;
  column-gap: 8px;
  font-family: "HeliosExt", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #111;
  text-transform: uppercase;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .catalogNavFilters {
    display: none;
  }
}

.catalogNavFiltersIcon {
  font-size: 24px;
  color: rgba(17, 17, 17, .75);
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

.catalogNavFiltersQuantity {
  font-family: "HeliosExt", sans-serif;
  font-size: 10px;
  padding: 4px;
  border-radius: 2px;
  background: #fff;
}

.catalogNavTabs {
  display: flex;
  overflow-y: auto;
  order: -1;
  margin-bottom: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  column-gap: 8px;
  row-gap: 8px;
}

@media screen and (min-width: 1024px) {
  .catalogNavTabs {
    position: relative;
    z-index: 3;
    overflow-y: hidden;
    flex-wrap: wrap;
    order: -1;
    margin-right: auto;
    padding: 0 0 0 16px;
  }
}

.catalogNavTabs._active {
  overflow-y: unset;
  flex-wrap: wrap;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .catalogNavTabs._active {
    padding: 0 0 0 16px;
  }
}

.catalogNavTabsInner {
  display: contents;
}

.catalogNavTabsHidden {
  display: none;
  flex-wrap: wrap;
  background: #fff;
  column-gap: 8px;
  row-gap: 8px;
}

@media screen and (min-width: 1024px) {
  .catalogNavTabsHidden {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 8px 16px 16px;
    border: 1px solid #eff1f3;
    border-top: 0;
    border-radius: 0 0 12px 12px;
  }
}

.catalogNavTabsHidden._active {
  display: flex;
}

.catalogNavTab {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  padding: 4px 8px 2px;
  text-transform: uppercase;
  color: rgba(17, 17, 17, .5019607843);
  border: 1px solid rgba(17, 17, 17, .5019607843);
  border-radius: 12px;
  column-gap: 4px;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 375px) {
  .catalogNavTab {
    font-size: 14px;
    padding: 6px 12px 3px;
  }
}

@media (any-hover: hover) {
  .catalogNavTab:hover {
    color: #fff;
    background: rgba(17, 17, 17, .5019607843);
  }
}

@media (hover: none) {
  .catalogNavTab:active {
    color: #fff;
    background: rgba(17, 17, 17, .5019607843);
  }
}

.catalogNavTabMore {
  order: 1;
  min-width: 54px;
}

.catalogNavTabMoreText {
  display: inline-block;
}

.catalogNavTabMoreIcon {
  display: none;
}

.catalogNavTabMore._active .catalogNavTabMoreText {
  display: none;
}

.catalogNavTabMore._active .catalogNavTabMoreIcon {
  display: inline-block;
}

.catalogNavReset {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  flex: 0 0 auto;
  text-align: center;
  width: 100%;
  transition: opacity .33s,
  background-color .33s,
  color .33s,
  border-color .33s,
  transform .33s;
  text-transform: uppercase;
  font-family: "HeliosExt", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

.catalogNavReset {
  border: 1px solid #a39d94;
  color: #a39d94;
  background: #fff;
  width: 240px;
  height: 40px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

@media (any-hover: hover) {
  .catalogNavReset:hover {
    background: #a39d94;
    color: #fff;
  }
}

@media (hover: none) {
  .catalogNavReset:active {
    background: #a39d94;
    color: #fff;
  }
}

.catalogNavReset {
  column-gap: 8px;
}

.catalogSort {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

@media screen and (min-width: 1024px) {
  .catalogSort {
    position: relative;
    z-index: 5;
  }
}

.catalogSortSummary {
  padding: 4px;
  border-radius: 4px;
  background: #f5f5f5;
  column-gap: 8px;
  font-family: "HeliosExt", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #111;
  text-transform: uppercase;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .catalogSortSummary {
    width: fit-content;
    padding: 0;
    border-radius: 0;
    background: none;
  }
}

.catalogSortSummary {
  cursor: pointer;
  text-align: center;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 1920px) {
  .catalogSortSummary {
    column-gap: 8px;
  }
}

.catalogSortButton {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalogSortButton {
  font-size: 8px;
  line-height: 1;
  width: 12px;
  height: 12px;
  transition: transform .33s,
  background-color .33s,
  color .33s;
  transform-origin: center;
}

.catalogSortTitle {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  width: 100%;
}

.catalogSortList {
  font-size: 13px;
  position: fixed;
  z-index: 120;
  bottom: 0;
  left: 0;
  display: grid;
  width: 100%;
  padding: 14px;
  transition: opacity .333s, transform .333s;
  transform: translate(100%, 0);
  pointer-events: none;
  border: 1px solid #eff1f3;
  border-radius: 0;
  background: #fff;
  grid-template-columns: 1fr;
  row-gap: 14px;
}

@media screen and (min-width: 1024px) {
  .catalogSortList {
    position: absolute;
    z-index: 1;
    top: calc(100% + 8px);
    bottom: auto;
    left: 0;
    transform: translate(0, 40px);
    opacity: 0;
  }
}

.catalogSortList._active {
  transform: translate(0, 0);
  pointer-events: auto;
  opacity: 1;
}

.catalogSortItem {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.catalogSortOverlay {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .33s;
  pointer-events: none;
  opacity: 0;
  background: rgba(17, 17, 17, .5019607843);
}

.catalogSortOverlay._active {
  pointer-events: auto;
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  .catalogSortOverlay {
    display: none !important;
  }
}

.catalogSortInput {
  appearance: none;
  overflow: hidden;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
  transition: background-color .33s;
  position: relative;
  z-index: 0;
  width: 18px;
  height: 18px;
  margin: 0;
  border: 1px solid #111;
  border-radius: 0;
  background: #fff;
}

.catalogSortInput:checked {
  background: #111;
}

.catalogSortInput:checked::before {
  transform: scale(1);
  opacity: 1;
}

.catalogSortInput::before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "iconfont", emoji !important;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "\e900";
  transition: opacity .33s, transform .33s;
  transform: none;
  opacity: 0;
  color: #fff;
  border: 0;
  border-radius: 0;
  background: #111;
}

.catalogSortInput {
  background: none;
  border-radius: 50%;
}

.catalogSortInput:checked {
  background: none;
}

.catalogSortInput:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.catalogSortInput:before {
  content: " ";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 75%;
  height: 75%;
  border-radius: 50%;
}

.catalogSortInput {
  width: 22px;
  height: 22px;
  margin-left: auto;
}
