@use "./helpers.scss" as Helpers;
@use "./media.scss" as Media;

@mixin buttonTemplate {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  flex: 0 0 auto;
  text-align: center;
  width: 100%;
  transition: opacity 0.33s, background-color 0.33s, color 0.33s, border-color 0.33s, transform 0.33s;
  text-transform: uppercase;
  font-family: "HeliosExt", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}

@mixin buttonLight {
  @include buttonTemplate;

  & {
    border: 1px solid #111111;
    color: #111111;
    background: white;
    width: 240px;
    height: 40px;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  //&:after {
  //  position: absolute;
  //  content: "";
  //  width: 0;
  //  height: 100%;
  //  top: 0;
  //  right: 0;
  //  z-index: -1;
  //  background-color: #111111;
  //  transition: left 0.33s, width 0.33s;
  //}

  @include Helpers.responsiveHover {
    background: #111111;
    color: white;
    //&:after {
    //  left: 0;
    //  width: 100%;
    //}
  }
}

@mixin buttonDark {
  @include buttonTemplate;

  & {
    border: 1px solid #111111;
    background: #111111;
    color: white;
    width: 240px;
    height: 40px;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  //&:after {
  //  position: absolute;
  //  content: "";
  //  width: 0;
  //  height: 100%;
  //  top: 0;
  //  right: 0;
  //  z-index: -1;
  //  background-color: white;
  //  transition: left 0.33s, width 0.33s;
  //}

  @include Helpers.responsiveHover {
    background: white;
    color: #111111;
    //&:after {
    //  left: 0;
    //  width: 100%;
    //}
  }
}

@mixin buttonPale {
  @include buttonTemplate;

  & {
    border: 1px solid #a39d94;
    color: #a39d94;
    background: white;
    width: 240px;
    height: 40px;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  @include Helpers.responsiveHover {
    background: #a39d94;
    color: white;
  }
}

@mixin buttonMore {
  font-family: "TTCommons", sans-serif;
  font-size: 13px;
  line-height: calc(16 / 13);
  text-transform: uppercase;
  color: #111111;
  border-bottom: 1px solid rgba(#111111, 0.5);
  transition: border-color 0.33s;
  @include Media.mediaTabletL {
    font-size: 16px;
  }
  @include Helpers.responsiveHover {
    border-color: #111111;
  }
}

@mixin buttonArrowSmall {
  @include Helpers.resetFlex;
  @include Helpers.flex(center, center);

  & {
    font-size: 8px;
    line-height: 1;
    width: 12px;
    height: 12px;
    transition: transform 0.33s, background-color 0.33s, color 0.33s;
    transform-origin: center;
  }
}
