@use "src/styles/shared" as *;

.details {
  @include resetFlex;

  &-summary {
    @include flex(center, space-between);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: unset;
    column-gap: 8px;

    &::before {
      display: none;
    }
  }

  &-button {
    @include flex(center, center);
    font-size: 16px;
    line-height: 1;
    width: 32px;
    height: 32px;
    transition: transform 0.33s, background-color 0.33s, color 0.33s;
    transform-origin: center;
    border-radius: 50%;

    .is-opening > &, .open > & {
      transform: rotate(180deg);
    }

    .is-closing > & {
      transform: rotate(0);
    }
  }

  &-body {
    display: none;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    row-gap: 8px;

    .is-opening > &, .open > & {
      display: flex;
    }
  }
}

[data-details] {
  @include resetFlex;
}

[data-details=details] {
  @extend .details !optional;
}

[data-details=summary] {
  @extend .details-summary !optional;
}

[data-details=button] {
  @extend .details-button !optional;
}

[data-details=body] {
  @extend .details-body !optional;
}
