@use "src/styles/shared" as *;

.sectionBenefits {
  overflow: hidden;
  $BenifitsTransition: 0.33s;

  &Container {
    @include mediaLaptopL {
      @include container;
    }
  }

  &Icon {
    @include resetFlex;
    @include flex(center, center);

    & {
      font-size: 24px;
      width: 44px;
      height: 44px;
      transition: font-size 0.33s, width 0.33s, height 0.33s, border-color 0.33s,
        background-color 0.33s;
      color: white;
      border: 1px solid rgba(white, 0.2);
      border-radius: 50%;
      @include mediaLaptopS {
        font-size: 28px;
        width: 60px;
        height: 60px;
      }

      ._active &,
      &._active {
        font-size: 28px;
        width: 60px;
        height: 60px;
        border-color: transparent;
        background: #c1a778;
      }
    }
  }

  &Main {
    & {
      position: relative;
    }

    &Icons {
      @include flex(center);
      height: 60px;

      & {
        position: absolute;
        z-index: 3;
        top: 64px;
        left: 50%;
        transform: translate(-50%, 0);
        column-gap: 4px;
        @include mediaLaptopS {
          display: none;
        }
      }
    }

    &Icon {
      @extend .sectionBenefitsIcon;
    }

    &Slider {
      @include flex();
      width: 100%;
    }

    &Slide {
      @include flex($d: column);

      $BenifitsActiveSlide: 702px;

      & {
        position: relative;
        overflow: hidden;
        width: 0;
        height: 400px;
        padding: 64px 0;

        cursor: pointer;
        transition: width 0.6s;
        background: #80756e;

        @include mediaTabletS {
          height: 500px;
        }
        @include mediaTabletM {
          height: 575px;
        }
        @include mediaTabletL {
          height: 610px;
        }
        @include mediaLaptopS {
          width: calc((100% - $BenifitsActiveSlide) / 4);
        }
      }

      &Video {
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
        transition: opacity 0.33s;
        transform: translateX(50%);
        opacity: 0;
      }

      &Img {
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
        transform: translateX(50%);

        img {
          max-width: fit-content;
        }
      }

      &Title {
        font-family: "HeliosExt", sans-serif;
        font-size: 20px;
        line-height: calc(24 / 20);
        z-index: 1;
        min-width: max-content;
        margin: auto 0 12px;
        transition: opacity 0.33s;
        text-align: center;
        opacity: 0;
        color: white;
        @include mediaLaptopS {
          font-size: 32px;
          margin-bottom: 20px;
        }
      }

      &Note {
        font-size: 14px;
        line-height: calc(16 / 14);
        z-index: 1;
        min-width: max-content;
        transition: opacity 0.33s;
        text-align: center;
        opacity: 0;
        color: #ffffff;
        @include mediaLaptopS {
          font-size: 18px;
        }
      }

      &Icon {
        @extend .sectionBenefitsIcon;
        z-index: 1;
        display: none;
        margin: 0 auto;
        @include mediaLaptopS {
          display: flex;
        }
      }

      &._active {
        width: 100%;
        @include mediaLaptopS {
          width: $BenifitsActiveSlide;
        }

        .sectionBenefitsMainSlideVideo {
          opacity: 1;
        }

        .sectionBenefitsMainSlideTitle {
          opacity: 1;
        }

        .sectionBenefitsMainSlideNote {
          opacity: 1;
        }

        .sectionBenefitsMainSlideImg {
          display: none;
        }
      }
    }
  }

  &Footer {
    overflow-y: scroll;
    background: #fafafa;

    @include mediaLaptopS {
      overflow: hidden;
    }

    &Btns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: max-content;
      padding: 22px 4px;
      @include mediaLaptopS {
        width: 100%;
      }
    }

    &Btn {
      font-family: "HeliosExt", sans-serif;
      font-size: 14px;
      line-height: calc(20 / 14);
      position: relative;
      width: 280px;
      min-height: 32px;
      // margin: 0 2px;
      padding-top: 12px;
      padding-left: 20px;
      cursor: pointer;
      transition: color 0.33s;
      color: rgba(17, 17, 17, 0.5);
      //border-top: 1px solid rgba(#111111, 0.1);
      border-top: 1px solid #1111111a;
      @include mediaLaptopS {
        width: calc((100% - 16px) / 5);
        margin: 0;
      }
      @include mediaLaptopM {
        font-size: 16px;
      }

      &:before {
        position: absolute;
        top: -2px;
        left: 0;

        display: block;
        width: 0;
        height: 2px;
        content: "";
        transition: background 0.33s, width 0.33s;
      }

      &:after {
        position: absolute;
        top: 17px;
        left: 0;
        display: block;
        width: 5px;
        height: 5px;
        content: "";
        transition: background 0.33s;
        border-radius: 50%;
        background: #11111133;
      }

      &._active {
        color: #111111;

        &:before {
          width: 62%;
          background: #c1a778;
        }

        &::after {
          background: #c1a778;
        }
      }
    }
  }
}
