@use "src/styles/shared" as *;
.header {
  position: relative;
  z-index: 1000;
}

.menu {
  &Container {
    max-width: 1366px;
    margin: 0 auto;
    border-top: 1px solid rgba(17, 17, 17, 0.1);
    padding-top: 40px;
    padding-bottom: 125px;
    position: relative;
  }
  @include mediaLaptopS {
    &Childrens {
      &L1 {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100vw;
        z-index: 100;
        background: #fff;
        transition: 0.33s;
        &Left {
          width: 206px;
          padding-left: 41px;
          border-right: 1px solid rgba(217, 217, 217, 1);
        }
      }
      &L2 {
        width: calc(100% - 206px);
        left: 206px;
        position: absolute;
        top: 0;
        padding-left: 43px;
        padding-top: 40px;
        display: flex;
        &Left {
          width: 225px;
        }
        &Right {
          width: calc(100% - 225px);
          height: 100px;
          background: rgba(0, 0, 0, 1);
        }
      }
    }
  }
}
