@use "src/styles/shared" as *;

.header {
  width: 100%;
  background: white;

  &Cont {
    position: relative;
    z-index: 100;
    padding: 0 20px;
    background: #ffffff;
  }

  &Top,
  &Bottom {
    max-width: 1366px;
    margin: 0 auto;
  }

  &Top {
    @include mediaLaptopS {
      padding: 20px 0;
      @include flex(center, space-between);
      border-bottom: 1px solid rgba(#111111, 0.1);
    }
  }

  &Contacts {
    &Tel {
      // font-family: "HeliosExtC", sans-serif;
      font-size: 16px;
      line-height: calc(20 / 16);
      display: block;
    }

    &Label {
      font-family: "TTCommons", sans-serif;
      font-size: 12px;
      line-height: calc(16 / 12);
      display: block;
      text-align: left;
      text-transform: uppercase;
      color: #11111180;
    }

    @media screen and (max-width: 1179px) {
      display: none;
    }
  }

  &Logo {
    @media screen and (max-width: 1179px) {
      display: none;
    }
  }

  &Actions {
    @include flex(center);
    column-gap: 16px;
    @media screen and (max-width: 1179px) {
      position: fixed;
      z-index: 999;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      background: #ffffff;
    }

    &Item {
      & {
        @include flex(center, center);

        & {
          font-size: 24px;
          color: #000000;

          sup {
            position: static;
            display: block;
            margin-left: 5px;
          }
        }
      }

      @media screen and (max-width: 1179px) {
        width: 25%;
        padding: 10px 0;
      }
    }
  }

  &Fav,
  &Cart {
    &Quantity {
      font-family: "HeliosExtC", sans-serif;
      font-size: 10px;
      line-height: calc(16 / 10);
      margin-left: 2px;
    }
  }

  &Search {
    @include mediaLaptopS {
      display: none;
    }
  }

  &Fav {
  }

  &Cart {
    &Quanity {
    }
  }

  &Profile {
  }

  &Shops {
    font-family: "TTCommons", sans-serif;
    font-size: 12px;
    line-height: calc(16 / 12);
    margin-right: calc(28px - 16px);
    text-transform: uppercase;
    color: #11111180;
    @media screen and (max-width: 1179px) {
      display: none;
    }
  }

  &Overlay {
    position: fixed;
    z-index: 69;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);

    ._menu_open & {
      @include mediaLaptopS {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
