@use "src/styles/shared/index" as *;

.header {
  //display: none;
  overflow: hidden;
  width: 100%;
  background: white;

  &Desktop {
    display: none;
    @include mediaLaptopS {
      display: block;
    }
  }


  &Top, &Bottom {
    max-width: 1366px;
    margin: 0 auto;
  }

  &Top {
    padding: 20px 0;
    @include flex(center, space-between);
  }

  &Contacts {
    &Tel {
      // font-family: "HeliosExtC", sans-serif;
      font-size: 16px;
      line-height: calc(20 / 16);
      display: block;
    }

    &Label {
      font-family: "TTCommons", sans-serif;
      font-size: 12px;
      line-height: calc(16 / 12);
      display: block;
      text-align: left;
      text-transform: uppercase;
      color: rgba(#111111, 0.5);
    }
  }

  &Actions {
    @include flex(center);
    column-gap: 16px;
  }

  &Profile, &Fav, &Cart {
    @include resetFlex;
    @include flex(center, center);

    & {
      font-size: 18px;
      width: 24px;
      height: 24px;
      color: #000000;
    }
  }

  &Fav, &Cart {
    &Quantity {
      font-family: "HeliosExtC", sans-serif;
      font-size: 10px;
      line-height: calc(16 / 10);
      margin-left: 2px;
    }
  }

  &Fav {
  }

  &Cart {
    &Quanity {
    }
  }

  &Profile {
  }

  &Shops {
    font-family: "TTCommons", sans-serif;
    font-size: 12px;
    line-height: calc(16 / 12);
    margin-right: calc(28px - 16px);
    text-transform: uppercase;
    color: rgba(#111111, 0.5);
  }

  &Bottom {
    padding: 14px 0;
    border-top: 1px solid rgba(#111111, 0.1);
    column-gap: 28px;
    @include flex(center, center);
  }

  &Button {
    @include addBottomLineOnHover(#111111);
    @include resetFlex;
    @include flex(center);

    & {
      font-family: "HeliosExt", sans-serif;
      font-size: 14px;
      line-height: calc(20 / 14);
      width: fit-content;
      text-transform: uppercase;
      color: #111111;
      column-gap: 4px;
    }

    .iconfont {
      @include flex(center, center);

      & {
        font-size: 8px;
        width: 12px;
        height: 12px;
      }
    }
  }
}
