@use "src/styles/shared/index" as *;

.header {
  display: none;
  width: 100%;
  background: white;

  &Top, &Bottom {
    max-width: 1366px;
    margin: 0 auto;
  }

  &Top {
    padding: 20px 0;
    @include flex(center, space-between);
  }

  &Contacts {
    &Tel {
      // font-family: "HeliosExtC", sans-serif;
      font-size: 16px;
      line-height: calc(20 / 16);
      display: block;
    }

    &Label {
      font-family: "TTCommons", sans-serif;
      font-size: 12px;
      line-height: calc(16 / 12);
      display: block;
      text-align: left;
      text-transform: uppercase;
      color: rgba(#111111, 0.5);
    }
  }

  &Actions {
  }

  &Profile {
  }

  &Fav, &Cart {
    color: #000000;

    &Quantity {
      // font-family: "HeliosExtC", sans-serif;
      font-size: 10px;
      line-height: calc(16 / 10);
    }
  }

  &Cart {
    &Quanity {
    }
  }

  &Shops {
    font-family: "TTCommons", sans-serif;
    font-size: 12px;
    line-height: calc(16 / 12);
    text-transform: uppercase;
    color: rgba(#111111, 0.5);
  }

  &Bottom {
    padding: 14px 0;
    border-top: 1px solid rgba(#111111, 0.1);
    column-gap: 28px;
    @include flex(center, center);
  }

  &Button {
    font-family: "HeliosExt", sans-serif;
    font-size: 14px;
    line-height: calc(20 / 14);
    text-transform: uppercase;
    color: #111111;
  }
}
