@use "src/styles/shared" as *;

.header {
  &Mobile {
    height: 48px;
    padding: 0 18px;
    @include flex(center, center);
    @include mediaLaptopS {
      display: none;
    }
  }

  &MenuOpen {
    @include resetFlex;
    @include flex(center, center);

    & {
      font-size: 22px;
      width: 28px;
      height: 28px;
      margin-right: auto;
    }
  }

  &Logo {
    &Img {
    }
  }

  &Tel {
    @include resetFlex;
    @include flex(center, center);

    & {
      font-size: 19px;
      width: 24px;
      height: 24px;
      margin-left: auto;
    }
  }
}
