@use "src/styles/shared" as *;

.catalogBanner {
  @include resetFlex;
  position: relative;
  z-index: 0;
  width: 100% !important;
  // overflow: hidden;
  border-radius: $brM;

  &Body {
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 8px;
    width: calc(100% - 8px * 2);
    padding: 8px;
    border: 1px solid $colorGreyMild;
    border-radius: $brM;
    background: rgba($colorGreyMild, 0.8);
    backdrop-filter: blur(8px);
    @include mediaTabletM {
      top: 50%;
      left: 16px;
      width: 360px;
      padding: 16px;
      transform: translate(0, -50%);
    }
  }

  &Title {
    //@include textM;
    font-weight: 500;
    margin-bottom: 8px;
  }

  &Description {
    //@include textS;
    margin-bottom: 8px;
  }

  &Button {
    @include buttonWhite;
    width: 160px;
  }

  &Img {
    display: block;
    width: 100%;
    border-radius: $brM;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    @include mediaTabletM {
      aspect-ratio: 10 / 2.5;
    }

    // filter: blur(2px);
  }
}
