@use "src/styles/shared" as *;

.catalogPagination {
  margin: 40px auto;

  &More {
    @include buttonLight;
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 240px;
    margin: 0 auto 20px;

    &Loading {
      @include flex(center, center);
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity $trM;
      pointer-events: none;
      opacity: 0;
    }
  }

  &Body {
    @include flex(center);
    column-gap: 8px;
  }

  &List {
    @include flex(center);
    column-gap: 8px;
    @include mediaLaptopM {
      column-gap: 16px;
    }
  }

  &Item, &Prev, &Next, &Divider {
    @include resetFlex;
    //@include textS;
    @include flex(center, center);
    width: 24px;
    height: 24px;
    color: $colorDarkMild;
    border-radius: 50%;
    column-gap: 4px;
    @include mediaMobileM {
      width: 32px;
      height: 32px;
    }
    @include mediaTabletM {
      width: 40px;
      height: 40px;
    }
  }

  &Item {
    transition: color $trM, border-color $trM, background-color $trM;
    border: 1px solid $colorGreyMild;

    @include responsiveHover {
      border-color: $colorDarkMild;
    }

    &._active {
      color: $colorPrimary;
      border-color: $colorPrimary;
    }
  }

  &Item {
    font-weight: 500;
  }

  &Prev, &Next {
    @include responsiveHover {
      color: $colorPrimary;
    }
  }

  &Divider {
  }
}
