$headerInitialHeight: 50px;
$colorBlack: #111111;
$colorDark: #303445;
$colorDarkMild: #525861;
$colorRed: #d8315b;
$colorYellow: #debe31;
$colorGreen: #4e9e82;
$colorGreenMild: #e6ede7;
$colorGrey: #8d949a;
$colorGreyDarker2: #abaeb3;
$colorGreyMild: #eff1f3;
$colorGreyLight: #f5f5f5;
$colorGreyLightest: #fcfcfa;
$colorGreyDarker: #dcdfe0;
$colorPurple: #412b82;
$colorPrimary: #111111;
$colorPrimaryLight: #508ecf;
$colorPrimaryDarker: #2d75c2;

$brM: 4px;
$brL: $brM * 2;
$bsM: 4px 4px 12px 0 rgba($colorDark, 0.05);

$trM: 0.333s;
$trL: 0.667s;
