@use "src/styles/shared" as *;

.sectionHero {
  overflow: hidden;
  margin: 0 0 40px;
  border-bottom: 1px solid #d9d9d9;
  @include mediaTabletM {
    border-bottom: 0;
  }
  @include mediaLaptopL {
    margin-bottom: 80px;
  }

  &Container {
    position: relative;
    z-index: 1;
    @include mediaLaptopL {
      @include container;
    }
  }

  &Slide {
    position: relative;
    z-index: 1;
    @include flex($d: column);
    @include swiperNavigationButtons;
    @include mediaTabletM {
      height: 560px;
    }

    &Body {
      @include flex(center, center, column);

      & {
        // position: relative;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: 28px;
        padding-bottom: 25px;
        text-align: center;
        @include mediaTabletM {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          padding: 30px 0 0 40px;
          text-align: left;
        }
        @include mediaTabletL {
          padding-left: 64px;
        }
        @include mediaLaptopL {
          padding-left: 100px;
        }
      }
    }

    &Content {
      width: 240px;
      margin: 0 auto;
      @include mediaMobileL {
        width: 320px;
      }
      @include mediaTabletS {
        width: 360px;
      }
      @include mediaTabletM {
        //width: 350px;
        margin: 0;
      }
      @include mediaTabletL {
        width: 400px;
      }
    }

    &Title {
      font-family: "HeliosExt", sans-serif;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.25;
      margin-bottom: 8px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: rgba(#111111, 0.5);
      @include mediaTabletM {
        font-size: 14px;
        margin-bottom: 0;
      }

      &._light {
        color: rgba(#ffffff, 0.75);

        &-mobile {
          color: rgba(#ffffff, 0.75);
          @include mediaTabletM {
            color: rgba(#111111, 0.5);
          }
        }

        &-desktop {
          color: rgba(#111111, 0.5);
          @include mediaTabletM {
            color: rgba(#ffffff, 0.75);
          }
        }
      }
    }

    &Brand {
      font-family: "HeliosExt", sans-serif;
      font-size: 24px;
      line-height: calc(24 / 20);
      margin-bottom: 12px;
      color: #111111;
      @include mediaMobileM {
        font-size: 33px;
      }
      @include mediaTabletM {
        // font-family: "HeliosExtC", sans-serif;
        font-size: 60px;
        line-height: calc(72 / 60);
        margin-bottom: 33px;
      }

      &._light {
        color: white;

        &-mobile {
          color: white;
          @include mediaTabletM {
            color: #111111;
          }
        }

        &-desktop {
          color: #111111;
          @include mediaTabletM {
            color: white;
          }
        }
      }
    }

    &Description {
      font-family: "HeliosExt", sans-serif;
      font-size: 13px;
      //font-family: "TTCommons", sans-serif;
      font-weight: 300;
      line-height: calc(16 / 14);
      margin-bottom: 20px;
      color: rgba(#111111, 0.5);
      @include mediaTabletM {
        font-size: 16px;
        line-height: calc(23.4 / 18);
        margin-bottom: 40px;
      }

      &._light {
        color: rgba(#ffffff, 0.75);

        &-mobile {
          color: rgba(#ffffff, 0.75);
          @include mediaTabletM {
            color: rgba(#111111, 0.5);
          }
        }

        &-desktop {
          color: rgba(#111111, 0.5);
          @include mediaTabletM {
            color: rgba(#ffffff, 0.75);
          }
        }
      }
    }

    &Button {
      @include buttonDark;

      & {
        margin: 0 auto;
        @include mediaTabletM {
          margin: 0;
        }
      }

      &._light {
        @include buttonLight;

        &-mobile {
          @include buttonLight;
          @include mediaTabletM {
            @include buttonDark;
          }
        }

        &-desktop {
          @include buttonDark;
          @include mediaTabletM {
            @include buttonLight;
          }
        }
      }
    }

    &Picture {
      display: contents;
    }

    &Video,
    &Img {
      order: -1;
      width: 100%;
      object-position: center;
      object-fit: cover;
      @include mediaTabletM {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        order: unset;
        height: 100%;
      }
    }

    &Prev, &Next {
      display: flex;
      @include mediaTabletM {
        display: none;
      }
    }

    &Prev {
      left: 8px;
    }

    &Next {
      right: 8px;
    }
  }

  .swiper {
    &-button {
      @include swiperNavigationButtons;

      &-prev, &-next {
        display: none;
        @include mediaTabletM {
          display: flex;
        }
      }

      &-prev {
        @include mediaTabletM {
          left: 0;
        }
        @include mediaLaptopL {
          left: 37px;
        }
      }

      &-next {
        @include mediaTabletM {
          right: 0;
        }
        @include mediaLaptopL {
          right: 37px;
        }
      }
    }

    &-pagination {
      position: static;
      @include mediaTabletM {
        position: absolute;
        z-index: 2;
        bottom: 24px;
      }

      &-bullet {
        width: 37px;
        height: 2px;
        margin: 0 4px !important;
        transition: background-color 0.33s;
        opacity: 1 !important;
        border-radius: 0 !important;
        background: #d9d9d9;

        &-active {
          background: rgba(#111111, 0.5);
        }
      }
    }
  }
}
