@use "src/styles/shared" as *;

.sectionHero {
  border-bottom: 1px solid #d9d9d9;
  @include mediaTabletM {
    border-bottom: 0;
  }

  &Container {
    position: relative;
    z-index: 1;
    @include mediaLaptopS {
      @include container;
    }
  }

  &Slide {
    position: relative;
    z-index: 1;
    @include flex($d: column);
    @include mediaTabletM {
      height: 560px;
    }

    &Content {
      @include flex(center, center, column);
      position: relative;
      z-index: 2;
      width: 240px;
      margin: 0 auto;
      padding-top: 28px;
      padding-bottom: 36px;
      text-align: center;
      @include mediaTabletM {
        display: block;
        width: 350px;
        margin: auto 0 auto 40px;
        padding-bottom: 0;
        text-align: left;
      }
      @include mediaTabletL {
        width: 383px;
        margin: auto 0 auto 129px;
      }
    }

    &Title {
      // font-family: "HeliosExtC", sans-serif;
      font-size: 12px;
      font-weight: 300;
      line-height: calc(18 / 12);
      margin-bottom: 8px;
      color: rgba(black, 0.5);
      @include mediaTabletM {
        font-size: 16px;
        font-weight: 300;
        line-height: calc(24 / 16);
        margin-bottom: 20px;
      }
    }

    &Brand {
      font-family: "HeliosExt", sans-serif;
      font-size: 20px;
      line-height: calc(24 / 20);
      margin-bottom: 12px;
      @include mediaTabletM {
        // font-family: "HeliosExtC", sans-serif;
        font-size: 60px;
        line-height: calc(72 / 60);
        margin-bottom: 23px;
        color: #111111;
      }
    }

    &Description {
      font-family: "TTCommons", sans-serif;
      font-size: 14px;
      line-height: calc(16 / 14);
      margin-bottom: 20px;
      color: rgba(#111111, 0.5);
      @include mediaTabletM {
        font-size: 18px;
        line-height: calc(23.4 / 18);
        margin-bottom: 56px;
        color: rgba(black, 0.5);
      }
    }

    &Button {
      @include buttonMain;
      @include mediaTabletM {
        @include buttonDark;
      }
    }

    &Picture {
      display: contents;
    }

    &Img {
      order: -1;
      width: 100%;
      object-position: center;
      object-fit: cover;

      @include mediaTabletM {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        order: unset;
        height: 100%;
      }
    }
  }

  .swiper {
    &-button {
      &-prev, &-next {
        position: absolute;
        z-index: 2;
        top: 50%;
        width: 28px;
        height: 28px;
        transform: translate(0, -50%);
        color: #838383;
        @include resetFlex;
        @include mediaTabletM {
          width: 44px;
          height: 44px;
        }

        &::after {
          //display: none;
          font-size: 14px;
          color: #838383;
          @include mediaTabletM {
            font-size: 20px;
          }
        }
      }

      &-prev {
        left: 8px;
        @include mediaMobileM {
          left: 16px;
        }
        @include mediaTabletM {
          left: 37px;
        }
      }

      &-next {
        right: 8px;
        @include mediaMobileM {
          right: 16px;
        }
        @include mediaTabletM {
          right: 37px;
        }
      }
    }

    &-pagination {
      position: absolute;
      z-index: 2;
      bottom: 24px;

      &-bullet {
        width: 37px;
        height: 2px;
        margin: 0 8px !important;
        opacity: 1 !important;
        background: #d9d9d9;

        &-active {
          background: #838383;
        }
      }
    }
  }
}
