@use "src/styles/shared" as *;

.select {
  font-size: 13px;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: fit-content;
  margin-right: 1.5em;
  letter-spacing: 0.03em;
  @include mediaTabletS {
    font-size: 15px;
  }
  @include mediaLaptopS {
    font-size: 17px;
  }

  &-input {
    font-size: 15px;
    width: 100px;
    padding: 0.75em 1em;
    border-radius: 8px;
    background: $colorGreyLight;
  }

  &-prices {
    display: grid;
    margin-bottom: 1em;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }

  &-current {
    @include flex(center);
    cursor: pointer;

    &-text, &-value {
      display: inline-block;
    }

    &-value {
      margin: 0 0.25em;
    }

    &-button {
      @include flex(center, center);
      font-size: 13px;
      transition: transform $trM;
      transform-origin: center;

      &._active {
        transform: rotate(180deg);
      }
    }
  }

  &-options {
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    left: -20px;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 160px;
    padding: 16px 12px 12px;
    transition: opacity $trM, transform $trM;
    transform: translate(0, 40px);
    pointer-events: none;
    opacity: 0;
    border-radius: 12px;
    background: white;

    &._active {
      transform: none;
      pointer-events: auto;
      opacity: 1;
    }
  }

  &-option {
    @include flex(center);
    font-size: 13px;

    padding: 0.75em 1em;
    cursor: pointer;
    transition: background $trM, color $trM;
    white-space: nowrap;
    @include mediaLaptopS {
      font-size: 14px;
    }

    &._active {
      color: $colorDarkMild;
    }
  }

  &-button {
    @include flex(center, center);
    font-size: 17px;
    width: 100%;
    height: 44px;;
    margin: 20px auto 0;
    color: white;
    background: $colorPrimary;
  }
}
